.board {
  display: flex;
  gap: 20px;
  padding: 20px 28px 40px;
  overflow-x: auto;
  align-items: flex-start;
  flex: 1;
}

@media (max-width: 700px) {
  .board {
    flex-direction: column;
    overflow-x: unset;
  }
}